doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png")
        link(rel="stylesheet" href="../styles/main.css")
        title Product Preview Card Component
        style.
                .attribution { 
                    font-size: 11px; 
                    text-align: center; 
                }
                
                .attribution a { 
                    color: hsl(228, 45%, 44%); 
                }
    body
        .card 
            .card__image-container 
                img.card__image(src="../images/image-product-desktop.jpg")
            .card__details-container 
                h2.card__subtitle PERFUME
                h1.card__title Gabrielle Essence Eau De Parfum 
                p.card__description A floral, solar, and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.
                .card__price-container 
                    p.card__price   $149.99
                    p.card__original-price $169.99
                button.btn.card__button(type="submit" onclick="openPopup()") Add to Cart
        div.attribution
            | Challenge by
            a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor
            | .
            | Coded by
            a(href="#") Your Name Here
            | .
        .popup#popup 
            p.popup__text Added to cart!
            button.btn.popup__button(type="button" onclick="closePopup()") OK
        script(src="../scripts/script.js")
        


            
