@use "mixins";
@use "variables";

.popup {
    @include mixins.flex(column);
    width: 200px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: variables.$box-shadow;
    text-align: center;
    visibility: hidden;
    transition: transform 0.2s;
}

.popup__text {
    margin-bottom: 20px;
    font-family: map-get(variables.$fonts, secondary-font), sans-serif;
    font-weight: map-get(variables.$font-weights, bold);
    font-size: 1rem;
    color: map-get(variables.$colors, dark-cyan);
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}