$colors: (
    "dark-cyan": hsl(158, 36%, 37%),
    "cream": hsl(30, 38%, 92%),
    "very-dark-blue": hsl(212, 21%, 14%),
    "dark-grayish-blue": hsl(228, 12%, 48%),
    "main-white": hsl(0, 0%, 100%),
    "very-dark-cyan": hsl(158, 37%, 26%)
);

$fonts: (
    "primary-font": "Fraunces",
    "secondary-font": "Montserrat"
);

$font-weights: (
    "medium": 500,
    "bold": 700
);

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat-bold-webfont.woff) format(woff),
        url(../fonts/montserrat-bold-webfont.woff2) format(woff2);
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat-medium-webfont.woff) format(woff),
        url(../fonts/montserrat-medium-webfont.woff2) format(woff2);
    font-weight: 500;
}

@font-face {
    font-family: "Fraunces";
    src: url(../fonts/fraunces_9pt-bold-webfont.woff) format(woff),
        url(../fonts/fraunces_9pt-bold-webfont.woff2) format(woff2);
    font-weight: 700;
}