@use "elements";
@use "variables";

.card {
    display: flex;
    flex-direction: row;
    width: 630px;
    margin: auto;
    background-color: map-get(variables.$colors, main-white);
    height: 450px;
    margin-top: 100px;
    border-radius: 20px;
    overflow: hidden;
}

.card__image{
    width: 300px;
}

.card__details-container {
    padding: 35px;
}

.card__subtitle {
    font-family: map-get(variables.$fonts, secondary-font), sans-serif;
    font-weight: map-get(variables.$font-weights, medium);
    font-size: 1rem;
    color: map-get(variables.$colors, dark-grayish-blue);
    letter-spacing: 5px;
}

.card__title {
    font-family: map-get(variables.$fonts, primary-font), serif;
    font-weight: map-get(variables.$font-weights, bold);
    font-size: 2rem;
    margin: 25px 0px;
}

.card__description {
    @extend .card__subtitle;
    letter-spacing: normal;
    line-height: 1.5;
}

.card__price-container {
    display: flex;
    flex-direction: row;
}